---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <!-- Background glowing shapes for the atmospheric feel -->
  <div class="bg-glow-container">
    <div class="glow-bubble-1"></div>
    <div class="glow-bubble-2"></div>
  </div>

  <div class="app-container">
    <!-- Header -->
		<Header />

    <!-- Hero Area -->
    <section class="hero-section">
      <h2 class="hero-title">
        Curating the feeds of the <span class="hero-highlight">indie web</span>.
      </h2>
      <p class="hero-description">
        Explore what I have been reading, listening and watching lately. As seen on my <a href="https://leaflet.andreijiroh.dev">(somewhat) monthly status updates</a>
      </p>
    </section>

		<!-- Footer -->
    <Footer />
  </div>
</Layout>
